body{
    margin:0;
    font-family: sans-serif;
    display: flex;
    flex-direction:coloumn;
    align-items:center;
    height:100vh;
    justify-content: center;
    background-image: url(https://media.istockphoto.com/id/486121005/photo/sun-rays-inside-coconut-palms.jpg?s=612x612&w=0&k=20&c=beRZfHzsvKwSp-G1g-eR6CmYiR7B_qjNNgVlSHkdGfI=);
    background-size: cover;
    overflow: hidden;
}
h2{
    text-transform:uppercase;
    letter-spacing:4px;
    font-size:20px;
    text-align: center;
    color: rgb(1, 13, 23);
}
.clock{
    display: flex;

}
.clock div{
    margin:5px;
    position: relative;
}
.clock span{
    width: 100px;
    height: 80px;
    background: slateblue;
    opacity: .8;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.clock .text{
    height: 30px;
    font-size: 10px; 
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: 0.8;
}
.clock #ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background:green;
    overflow:hidden;

}